# Dependency directories
node_modules/

# Build artifacts
artifacts/
cache/
typechain/

# Environment files
.env
.env.local

# IDE-specific files
.vscode/
.idea/
.states/

# Logs and temporary files
*.log
*.tmp